    
header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
}

#map-container {
  height: 400px;
  width: 100%;
  position: relative;
}

#map {
  height: 100%;
}
  
footer {
  background-color: #049f8d73;
  padding: 20px;
  text-align: center; 
  position:fixed;
  bottom:0;
  width: 100%;

}
footer a {
  position:relative;
  margin:0;
  text-align: center;
  margin-right: 10px;
  color: #666;
  text-decoration: none;

}

.link{color:#000000}
