header {
         text-align: right;
         height: 100px;
}


a {
    text-decoration: none;
    color: rgb(245, 235, 235) !important;
}

a:hover {
    color: rgb(231, 253, 237) !important;

}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input {
    width: 0px;
    height: 1px;
    width: 150px;
    border: 2px solid rgb(16, 16, 33);
    padding: 10px;
    border-radius: 30px;
    
}

.rechercher i{
     position:relative;
 
}

body {
   margin: 0;
   background-size: cover;
   background-image: url(./images/versaille.jpg);
}

footer {
    display: flex;
    margin-top: 150px;
    display: flex;
}


main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.sect {
    background: transparent;
    color: rgb(229, 232, 235);
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
    padding: 10px 10px;
    transition: all .25s;
}
.sect::after, .sect::before {
    border: 3px solid rgb(240, 237, 237);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s;
}
.sect:hover::after {
    transform: translate(-5px, -5px);
}
.sect:hover::before {
    transform: translate(5px, 5px);
}
 

