
body {
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    background-color: rgb(235, 234, 244);
  }



 a.link {
    color: rgb(12, 15, 15);
  }
  footer {
    background-color: #049f8dba;
    padding: 20px;
    text-align: center;
    position:absolute;
    bottom:0;  
    width:100%;
    height:70px;
  }
  footer a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;

  }
  img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      float: left;
      shape-outside: margin-box;
      margin: 0 20px 5px 0;
    
  }

  img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    }

  .link {
    color: rgb(14, 13, 13);
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0,3);
 
}

.container h2 {
    margin-bottom: 10px;
}

.container p {
    line-height: 1.4;
}

