.recherche {
    height: 20px;
    margin-top: 100px;
    border: 100px;
    border-radius: 4px;
    font-size: 16px;
    left: 0;
  }
  
  
  #logo {
      height: 100px!important;
      position: relative;
      top: 0;
  }


body {
    background-color:rgb(145, 120, 120) !important;
}

h1 {
    text-align: center;
    color: white !important;
}

.accordion {
    opacity: 60%; 
}

.accordion-body {
    color: black;
}

footer {
    background-color: #049f8d73;
    padding: 20px;
    text-align: center; 
    position:fixed;
    bottom:0;
    width: 100%;
    
  }
  footer a {
    position:relative;
    margin:0;
    text-align: center;
    margin-right: 10px;
    color: #666;
    text-decoration: none;
    
  }


