#search {
    position: relative;
}

#logo {
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}

body {
    background-color: #8e0d0d;
}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

h2 {
  color: white;
}

img { 
  width: 200 px;
  height: 200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



  footer {
    display: grid;
    text-align: left;
    font-size: small;
}


