
@font-face {
  font-family: 'the_rabbitregular';
  src: url('./font/the_rabbit-webfont.woff2') format('woff2'),
      url('./font/the_rabbit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.recherche {
  height: 20px;
  margin-top: 100px;
  border: 100px;
  border-radius: 4px;
  font-size: 16px;
  left: 0;
}


#logo {
    height: 100px!important;
    position: relative;
    top: 0;
}

body {
    background-color: #8e0d0d !important;
}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

h2 {
  color: white;
}

img { 
  width: 250 px;
  height: 250px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px !important;
  position: relative !important;
  margin: auto !important;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#carrousel {
  height: 100px !important;
  width: 1000px !important;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease !important;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease! important;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade !important;
  animation-duration: 3600s !important;
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

.link {
  color: rgb(14, 13, 13);
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}


footer {
  background-color: #049f8d73;
  padding: 20px;
  text-align: center;
}
footer a {
  margin-right: 10px;
  color: #666;
  text-decoration: none;
}

.logo-instagram {
  width: 20px; /* Ajustez la largeur du logo selon vos besoins */
  height: 20px; /* Ajustez la hauteur du logo selon vos besoins */
  margin-left: 10px; /* Ajoute un espace à gauche du logo */

}

