@font-face {
    font-family: 'the_rabbitregular';
    src: url('./font/the_rabbit-webfont.woff2') format('woff2'),
        url('./font/the_rabbit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-image: url(./images/pagesiecles.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 100px;
    /* Hauteur du pied de page */
}
/*
header {
    height: 150px;
    text-align: center;
    background-color: blue(0, 0%, 100%);
    color: blanchedalmond;
    font-size: 25px;
    text-shadow: -3px 3px 3px black;
    font-family: 'the_rabbitregular';
}
*/
.recherche {
    height: 20px;
    margin-top: 100px;
    border: 100px;
    border-radius: 4px;
    font-size: 16px;
    left: 0;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.footer {
    height: 5px;
    text-align: center;
    background-color: blue(0, 0%, 100%);
    color: blanchedalmond;
    font-size: 25px;
    font-family: 'the_rabbitregular';
    position: absolute;
    bottom: 0;
    /* on le colle en bas */
}


.link {
    text-decoration: none;
    color: aliceblue;
}

.form-chercher {
    margin-top: 2px;
    margin-left: 10px;
}

a:not(.link) {
    background: transparent;
    color: rgb(229, 232, 235);
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
    padding: 10px 10px;
    transition: all .25s;
    text-decoration: none;
}

a:not(.link)::after,
button::before {
    border: 3px solid rgb(240, 237, 237);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s;
    text-decoration: none;
}

a:not(.link):hover::after {
    transform: translate(-5px, -5px);
    text-decoration: none;
}

a:not(.link):hover::before {
    transform: translate(5px, 5px);
    text-decoration: none;
}

.btn_transparent {
    background-color: transparent;
    border: transparent;
    color: white;
}

#conteneur-page {
    position: relative;
    min-height: 100vh;
}

#enveloppe-contenu {
    padding-bottom: 2.5rem;
    /* Hauteur du pied-de-page */
}

#pied-de-page {
    position: absolute;
    bottom: 0;
    width: 100%;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
 }