.recherche {
    height: 20px;
    margin-top: 100px;
    border: 100px;
    border-radius: 4px;
    font-size: 16px;
    left: 0;
  }
  
  #logo {
      height: 100px!important;
      position: relative;
      top: 0;
  }

body {
    background-color: #8e0d0d !important;
}

h3 {
    margin-top: 10%;
    margin-bottom: 20%;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.sect1 {
    width: 1000px;
    height: 500px;
    margin-left: 15%;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.326);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}


footer {
    background-color: #049f8d9a !important;
    padding: 20px;
    text-align: center;
  }
  footer a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;
  }
.link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .link:hover {
    color: white;
    background-color: black;
  }

  .logo-instagram {
    width: 20px; /* Ajustez la largeur du logo selon vos besoins */
    height: 20px; /* Ajustez la hauteur du logo selon vos besoins */
    margin-left: 10px; /* Ajoute un espace à gauche du logo */
  
  }
  
